<%= content_for :title, t("sign_up") %>
<div class = "flex flex-col items-center justify-center w-full h-120">

  <section class="bg-gray-50 dark:bg-gray-900 w-full h-full ">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-full w-3/6 lg:py-0">

      <%= form_for :user, url: signup_path, class: "w-4/6" do |f| %>
        <div class="py-3">
          <%= f.label :name %>
          <%= f.text_field :name, class: "field"  %>
        </div>
        <div class="py-3">
          <%= f.label :email %>
          <%= f.email_field :email, class: "field"  %>
        </div>
        <div class="py-3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "field"  %>
        </div>
        <div class="py-3">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "field"  %>
        </div>
        <%= render "shared/error_messages" %>
        <div class="py-3">
          <%= f.submit t("sign_up"), class: "w-full bg-primary hover:bg-secondary text-white font-bold py-2 px-4 mt-4 rounded" %>
        </div>

        <p class="text-sm font-light text-sky-800 text-end"><%= t "already_have_an_account" %>
          <%= link_to t("log_in"), login_path, class: "text-sky-900 font-medium hover:underline" %>
        </p>

      <% end %>
    </div>
  </section>
</div>
